/* Active link styles */
.active {
    color: #e11d48; /* Red shade */
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #e11d48; /* Red border */
    padding: 4px 8px;
    border-radius: 8px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.active:hover {
    color: #9b1c2f; /* Darker red for hover */
    background-color: #ffe4e6; /* Light red background */
    border-color: #9b1c2f; /* Darker red border */
    text-decoration-thickness: 3px;
}

/* Navbar link styles */
.menu a {
    color: #333; /* Dark gray text */
    padding: 4px 8px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    color: #e11d48; /* Red color on hover */
    border-color: #e11d48; /* Red border on hover */
    background-color: #ffe4e6; /* Light red background */
}

/* Dark mode */
body.dark {
    background-color: #1a202c;
    color: #e11d48; /* Red text for dark mode */
}

body.dark .navbar {
    background-color: #2d3748;
}

body.dark .navbar a {
    color: white;
}

body.dark .menu a:hover {
    color: #e11d48; /* Red color for dark mode hover */
    border-color: #e11d48;
    background-color: #ffe4e6; /* Light red background */
}
